.container {
  min-height: 100vh;
  margin: 0;
  padding: 20px 0;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;

  background-image: linear-gradient(
    to bottom,
    #002b7f,
    #002b7f 13.33%,
    #ffffff 13.33%,
    #ffffff 30%,
    #ce1126 30%,
    #ce1126 70%,
    #ffffff 70%,
    #ffffff 86.67%,
    #002b7f 86.67%,
    #002b7f 100%
  );
  background-size: 100% 100%;
}

.title {
  margin-top: -1vh;
  margin-bottom: 0;
  font-size: calc(2rem + 3vw);
  position: fixed;
  top: 13.33vh;
  height: 16.67vh;
  line-height: 16.67vh;
  width: 100%;
  text-shadow: 2px 2px 4px lightgrey;
}

.title span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.red {
  color: #ce1126;
}
.white {
  color: #f5f5f8;
  text-shadow: 0px 0px 4px black;
}
.blue {
  color: #002b7f;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.entryRoulette {
  position: fixed;
  width: 100%;
  top: 30vh;
  height: 40vh;
  line-height: 40vh;
  margin: 0;
  padding: 0 10vw;
  text-align: center;
  font-size: calc(12px + 2vw);
  font-family: NotoSansThai;
}

.entryRoulette span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-shadow: 2px 2px 8px white;
}

.action {
  position: fixed;
  width: 100%;
  top: 71vh;
  text-align: center;
}

.button {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: calc(1rem + 1vw);
  width: 240px;
  margin: 8px;
  margin-top: 0;
}

.share span {
  position: relative;
  bottom: 16px;
  margin-right: 12px;
  font-size: 1.2rem;
}

.grow {
  animation: grow 0.5s;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
